<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="com.biz.mocoji.domain.UserDTO" alias="userDTO"/>
<typeAlias type="com.biz.mocoji.domain.InfoDTO" alias="InfoDTO"/>
</typeAliases>
</configuration>