<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- DataSource -->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
		<property name="username" value="iouser" />
		<property name="password" value="iouser" />
	</bean>
	<!-- SqlSessionFactory -->
	<!-- mapUnderscoreToCamelCase DB table에 칼럼 이름을 UnderScore가 붙은 snake case로 
		작성을 하고 domain class의 필드 변수는 camel case로 작성을 했을 때 mybatis에서 data를 가져오기할 때 
		자동 변경하여 mapping을 수행하라 table domain =================== td_seq tdSeq td_date 
		tdDate =================== -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="mapperLocations"
			value="/WEB-INF/spring/mybatis-mapper/*-mapper.xml" />
		<property name="typeAliasesPackage"
			value="com.biz.todo.domain" />

		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="mapUnderscoreToCamelCase" value="true" />
			</bean>
		</property>

	</bean>

	<!-- sqlSessionTemplate -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface">
			<value>com.biz.todo.repsitory.ToDoListDao</value>
		</property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />

	</bean>
</beans>
